* {
  margin: 0;
  padding: 0;
}

.card {
  width: 200px;
  border: 2px solid black;
  background-color: cornsilk;
  margin: 4px;
}

.cars {
  border: 1px solid gainsboro;
}

.container1 {
  border: 1px solid black;
  margin-bottom: 5px;
}

.container2 {
  border: 1px solid black;
  margin-bottom: 5px;
}

.container3 {
  border: 1px solid black;
  margin-bottom: 5px;
}

.studentList {
  width: 300px;
  border: 2px solid black;
  background-color: cornsilk;
  margin: 4px;
}

.memeContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.memeContainer img {
  width: 100%;
  height: auto;
}

.memeContainer p {
  margin: 5px 0;
}

.London {
  border: 2px solid red;
}
.Madrid {
  border: 2px solid green;
}
.Paris {
  border: 2px solid blue;
}
.Alabama {
  border: 2px solid purple;
}
